//-------------------------------------------------------
//  Chrup
//  - o tom, jak se starat o svoje zuby tak,
//    aby se nerozpadly
//-------------------------------------------------------


ul.ve-zkratce 
  
  li. 
    #[strong Správně vyvážený mikrobiom bakterií v ústech je #[i naprostou nuntostí] pro dobré zdraví.] Každodenní ničení #[i všech] bakterií bez rozdílu například ústními vodami nebo fluoridovými pastami je jednoznačně spojeno #[strong nejen s horším zdravím zubů], ale i s nemocemi jako #[strong cukrovka 2. typu] a tím i všemi navazujícími nemocemi spojených se zvýšenou zánětlivostí těla jako #[strong nemoci srdce a krevního oběhu, Alzheimerova choroba, nadváha, kloubní záněty...] a mnoho a mnoho dalších.
    
  li. 
    #[strong Je nutné neničit bezhlavě bakterie] ve svých ústech. Stejně jako bakterie v našich střevech, #[strong některé jsou dobré a některé ne]. Pokud zničíme všechny a pak získáme ty špatné z dnešního toxického okolí, špatné bakterie mají volný prostor a můžou se rozrůstat daleko snadněji než kdyby museli zápasit s dobrými bakteriemi. Proto mají někteří lidé, kteří si #[i nikdy] nečistí zuby často lepší chrup než ti, co si je čistí poctivě (všichni máme takové babičky a prababičky).
      
  li. 
    #[strong Populace bakterií v našich ústech a střevech je #[i velmi úzce spojena]]. Pokud budeme poškozovat mikrobiom v ústech, tato poškození se odrazí na funkci střev a to povede následně k chronickým zánětům a k problémům s absorpcí živin jako je vápník, vitamíny a neefektivní trávení #[i tuků i cukrů] pro energii a #[i i bílkovin] pro stavbu svalstva.
      
  li. 
    #[strong Ústní mikrobiom nejvíce ovlivňuje to, co jíme.] Nejhorší je sice cukr, ale #[strong škodlivé bakterie se živí na jakýchkoli sacharidech]. Pokud budeme mít neustále v ústech jídlo vysoké v sacharidech, živíme tak bakterie, které zuby a dásně poškozují. #[a(href='./dieta') Správná dieta] vysoká na zdravé tuky je to, co chrání zuby před poškozením bakteriemi, co nemají v ústech co dělat.
    
  li. 
    #[strong Nejezte tolik sacharidů!] Zmíním to ještě jednou, protože je to vážně důležité. Většina jídel vysokých na sacharidy (včetně ovoce) vedle krmení škodlivých bakterií nemá pro zuby žádné živiny. Téměř všechny vitamíny a minerály, kterých mají dnes lidé málo, musí být konzumovány v prostředí nasycených tuků, aby se dobře absorbovaly. Je tomu tak hlavně u vápníku! Pokud vás trápí zničený chrup nebo se mu chcete vyhnout, okamžitě přejděte na #[a(href='./dieta') nízkosacharidovou dietu], pokud chcete poškození předejít úplně. 
      
  li. 
    #[strong Fluoridové pasty jsou toxické.] Fluorid v zubních pastách je k tomu, aby zabíjel všechny bakterie; #[strong to je jednoznačně špatný nápad]. Pokud chceme skutečně předejít kazům a krvácení dásní, musíme se vyhnout #[i všem] příliš agresivním čistkám mikrobiomů. 
      
  li. 
    #[strong Čištění kartáčkem není nejefektivnější způsob, jak zuby zbavit nečistot a škodlivých bakterií.] Pro nečistoty je #[i daleko] důležitější čištění #[strong zubní nití] a udržování mikrobiomu #[strong slanými a olejovými výplachy.] Chceme změnit pH úst solí, aby vymřely jen ty méně odolné, škodlivé bakterie a zbavit je jejich sacharidové potravy pomocí olejů a tuků. Jen tak lze čistit zuby spolehlivě. 
      


h2 Na začátek

p Je skutečně škoda, jak moc někteří lidé podceňují zdraví zubů. Co by mohlo být důležitější, než jestli jsme schopní příjemně jíst jídlo? A i přes to je chrup jednou z nejpodceňovanějších aspektů zdraví z pohledu chronických nemocí organismu, hlavně u praktických doktorů. 

p Dnes nikdo nepřemýšlí nad tím, co znamená "správná ústní hygiena", protože to je pro mnohé z nás každodenní samozřejmostí, kterou máme zarytou od dětství. Natož abychom se zamysleli nad tím, jaký efekt vůbec může mít na tělo dávat si do pusy "zdravý" ekvivalent mýdla a nebo polykat celý den bakteriální zbytky svého jídla.

hr 

p Někteří totiž věří, že zabíjet bakterie v ústech fluoridovou pastou a vyplachovat je navrch Listerinem jako v reklamě je dobrý nápad.

p Někteří i věří, že když si od mala čistili zuby a je to jejich ranní rutina, nemusí to měnit. 

p Většina z nás i uvěří zubařovi i jeho letákům s tím, jakou pastu mají používat, i když je to naprosto jednoznačně reklama, kterou si zubař přivydělává, a ne rada pro naše zdraví. 

p Většina z nás si uvědomuje, že cukr je pro zuby špatný. Ne každý si už ale spojí to, že #[strong škodlivé jsou nejen cukry, ale jakýkoli jednoduchý sacharid]. Nejsou to jen sladkosti, ale i ta #[i "zdravá"] buchta bez cukru, rohlíky a chleby, džus i ovoce, trojobal řízku nebo i ta bramborová kaše vedle něj. #[strong Pokud má jídlo moc sacharidů, není to "zdravé" pro zuby ani pro tělo!]

strong 
  p Tohle vše jsou věci, kvůli kterým má tolik dětí dnes zničené zuby už před jejich osmnáctinami a proč nikdo ani neví, proč má někdo kazy při každé návštěvě zubaře a někoho to nepotká nikdy. Nikdo nad tím dost nepřemýšlí.
  
strong 
  p Nenechme si prodávat produkty bez toho, abychom znali důvody, proč by měly být zdravé. Nenechme si vnucovat produkty reklamami od lidí, co se nám tyto produkty snaží prodat. #[i Marketing není to samé jako věda; že o něčem slyšíme každý den neznamená, že je to pravda!]
  
hr
  
p Pojďme si tedy říct, na čem #[strong skutečně] záleží a jak se vyhnout drahým, nepříjemným a kolikrát i bolestivým procedurám u zubaře. 

p.spoiler ...všichni totiž návštěvy zubaře nesnášíme, na tom se asi shodneme, že ano.




h2 Mikrobiom úst: Nebezpečí, které je neustále přehlíženo

p Faktem je, že až v dnešní době se pořádně v medicíně začíná pohlížet na dobré bakterie. Samozřejmě každý zná laktobacily a že podle Aktivie je střevní mikrobiom důležitý, ale kolik je na tom doopravdy pravdy? Co říkají studie o tom, co se stane, když nemáme v pořádku bakterie v těle?

strong 
  p Studie mluví jednoznačně: plošné ničení všech bakterií agresivními způsoby je spojeno s předčasnou smrtí a chronickými nemocemi organismu, v jakémkoli kontextu.
  
p Z takové věty si lidé většinou odnesou jen to, že #[i nemáme používat bezhlavě antibiotika a máme se vyhýbat pesticidům v potravinách]. Není to ale jen o tom.

p Málokdo vezme tuto myšlenku dál a začne myslet na to, které jsou tedy ty správné bakterie; nebo jak se stravovat tak, abychom se těmto komplikacím vyhnuli. Nebudu tohle téma rozvádět tady, ale můžete si přečíst o #[a(href="mikrobiom") střevních bakteriích] něco více, pokud chcete.

strong 
  p A už skoro nikdo si neřekne, jestli co žije v našich ústech ovlivňuje co žije ve střevech. Bohužel pro většinu populace, #[i je tu naprosto gigantické spojení mezi těmito prostředími].
  
hr
  
p A dává to i logický smysl - když máme v puse bakterie, které celý den polykáme, musí skončit i v našich střevech.

p V tento moment přijde obchodník a začne propagovat #[i Listerine], ústní vodu co zabije 99,9% bakterií. A zde nastává problém: #[strong Co když je tělo evolučně přizpůsobené a zvyklé na to, že tam ty bakterie budou? Co když jsou naprosto důležité pro střevní bakterie?] 

strong 
  p A asi nikoho nepřekvapí, že bohužel také na tyto bakterie tělo zvyklé je a když mu chybí, tělo přestane fungovat jak má.

p.spoiler Kdo by si taky mohl myslet, že litím do sebe alkohol jako absolutního zabijáka bakterií se zbavíme problémů, které lidé před statisíci lety lidé neměli? Viděli jste někdy zuby antických lidí? Jejich zuby jsou na dnešní stardardy zdravější než 99% populace a nic jako Listerine nebo fluoridové pasty neměli ani zdaleka, natož každý den. 

p #[strong Jak moc podstatné ale jsou tyto bakterie?] Jsou i experti, kteří tvrdí, že pokud je vaše srdeční nemoc spojená se záněty dásní, #[i infarkt pak bude smrtelný na 90%]. Přinejlepším budete mít deprese a úzkosti, u kterých vás ani za boha nenapadne, že to je kvůli zubům nebo kvůli bakteriím ve střevech. Většina ale skončí "jen" se zdvojnásobnou šancí pro cukrovku, ať už jíte cokoliv. 

p #[strong Když se člověk podívá po studiích, co sledují spojitost ústních nemocí s "ne-přenosnými" nemocemi a poruchami organimsu, najdeme naprosto jednoznačné spojení.] Téměř každá porucha funkce organismu je spojená jednak se #[a(href="zanety") zánětlivostí těla], #[a(href="metabolismus") zvýšeným insulinem] ale i se zhoršeným stavem chrupu a #[a(href="mikrobiom") střevního mikrobiomu]. 

p #[strong Poruchy organismu a nepřenosné nemoci jdou všechny ruku v ruce] - když máte jeden problém, šance na všechny ostatní astronomicky vystřelí; společně s jejich zvýšenou šancí na předčasnou smrt celkově.


h2 Udržování dobrých bakterií v našich ústech
// TODO
code Jak to tedy dělat? Co dovolí vybrat si co bude žít v naší puse?

h2 Mýtus kartáčků: Nit a Oleje
// TODO
code Aneb nezastrašit každého tukem v hubě