
//-------------------------------------------------------
//  Dieta
//-------------------------------------------------------

p S čím pomůže lepší dieta?
  ul
    li Trvalé(!) zhubnutí a nalezení vlastní optimální váhy
    li Chutnější jídelníček
    li Eliminace chutí na sladké
    li Levnější nákupy
    li Stabilnější hormony a nálada (<- stabilní krevní cukr)
    li ...


p No jo, ale co znamená taková "lepší dieta"? Všichni jsme slyšeli o zdravé dietě přes svůj život dost, jak `od rodiny, doktorů tak i od lidí na ulici, co s vámi čekali na vlak`{}. ={nevěřte jim, neví o čem mluví a nic z toho, co říkají, je podložené fakty}=

p #[strong Efektivní dieta spočívá ve zlepšení `metabolismu tuku`{}, hlavního paliva našeho těla.]

p Jak toho docílíme?

p #[strong Budeme jíst mnoho `zdravých tuků`{}. Dále budeme jíst velké porce, ale `co nejméně často`{}, abychom tělo `přiměli k pálení našich tuků`{}.]

p ...když to podám takhle, nezní to tak nepochopitelně, že ne? A můžete se nad tím i hned zamyslet, co by pro vás takový režim znamenal.  ={nemusíte trávit tolik času vařením}= ={ani uklízením nebo mytím nádobí}= ={nebudete muset tak často chodit nakupovat}= ={budete mít víc času na práci, když nebudete jíst obědy}= ={a mnoho dalších!!}=

p #[strong Nezáleží jen na tom, co jíte a jak moc - nejdůležitější je jak dlouho nejíte!] 




h2  Pár obecných doporučení na začátek

p Řeknu vám to rovnou...

p #[strong Každý jsme jiný a co může fungovat pro někoho nemusí fungovat pro jiného.]

p Každý jsme jinak hubení, jinak svalnatí, máme různé životní styly, máme různé práce, máme pro sebe a své tělo jiné cíle a podobně.

p #[strong Žádný dietní plán nemůže být striktní. Nelze pro dietu obětovat sociální vztahy nebo se cítit špatně za porušování. Tak to prostě chodí.]

p Pokud víte přesně, jak tělo funguje, můžete si čas od času dopřát a "dohnat to" jindy, když víte jak. Ať už to je žranice s přáteli nebo máte prostě chuť na brambůrky, neomezujte se.

p #[strong Když "rupnete", nevadí. Ale hlavně sledujte, co to s vámi pak udělá.]

p Většina z nás nereaguje dobře na většinu normálního jídla. Je ale důležité si všímat, které to jsou. Někomu třeba mléčné produkty dělají ranní rýmu, aniž by byl přímo alergický na laktózu. Sledujte na sobě, co s vámi dělají různá jídla a #[i naslouchejte tělu]. Samo vám začne říkat, co je pro vás dobré!

p #[strong Není to o přesných číslech ani o procentech.]

p Asi se můžeme v klidu všichni shodnout, že počítat každý gram a každou kalorii je prostě blbost. Každý den děláte něco jiného, jinak se hýbáte, jíte něco jiného... Tak proč by se kdokoliv snažil tyhle každodenní fluktuace ignorovat a jíst přesné množství jídla? Zapomeňte na nějaké počítání, je to ztráta úsilí.

p #[strong Koukejte se na zadní stranu obalů. Koukejte se na podíl cukrů a tuků, i na množství konzervantů a podobně. Hledejte jídlo v nejpůvodnější podobě.]

p Tohle je jasné. Chceme jíst jídla, které jsou v co možná nejpůvodnější podobě. Jablkový džem ve sklenici? Jablka. Odstředěné mléko? Plnotučné mléko. Nakrájená uzená slanina v obalu? Vepřový bok. Nízkotučný jogurt? Přidejte 30procentní smetanu. Pokud je něco zbavené tuku, musí se to dohnat konzervanty, barvivy a nakonec cukrem pro chuť. Nebojte se plnotučných jídel, aspoň je tolik nenapouštěli pitomostmi.



h2 Dietní plán

p #[strong Žádný není. Tak jednoduché to není.]

p Diety jsou hloupé, pokud se je někdo začne snažit příliš zjednodušit. Často se kvůli tomu vytratí hlavní koncept diety - proto vám nebudu říkat přesná čísla ani co máte jíst který den. Ani nemohou takové obecné plány dát v potaz #[i vás]. O šablonovém stravování není #[i žádná] úspěšná dieta.

p ={Pokud si ale chcete na začátek sepsat plán, čtěte dál a postavte ho podle toho, jak se to hodí #[i vám] a na jak velkou výzvu se cítíte.}=

p Hlavně se nerozhlížejte slepě po dietních plánech kolem - nejhorší jsou časopisy. Správná dieta se nedá jen tak shrnout v několika paragrafech, natož jí zobecnit na každodenní doporučení. Budou mít nepřesnosti a budou mít lži, které zní dobře v časopisovém článku. Nenechte se oblbnout.

p #[strong Správné stravování, které podporuje tělesné i psychické zdraví, se skládá z následujících konceptů: `přerušované půsty`{} a `lowcarb/keto jídlo`{}. Oba si hned shrneme, ale podívejte se na jejich články pro detaily.]




h2 Přerušované půsty (Intermittent Fasting)

p Půsty jsou přirozená součást života. Každé náboženství ho má, provozovaly ho antické civilizace a před tisíci ho lidé provozovali kdykoli nebylo jídlo kolem (například období zimy).

p Dnes ho ale nemáme dost. Máme jídlo na každém kroku, vždy na dosah ruky, máme lednice, ovoce každý den, trvanlivé potraviny a mikrovlnky - vše abychom mohli mít jídlo kdykoli bychom chtěli.

p #[strong Mít přístup k jídlu #[i kdykoli chceme] je neskutečně nepřirozené - tělo na to nemůže být (a ani není) evolučně stavěné. Pro každého člověka je půst nutný - tělo ho očekává, ale nevyžaduje - o to se po statisíce let staralo kruté prostředí.]

p Zde se také nutně nebavíme o dlouhých několikatýdenních půstech. Bavíme se o jezení jednou za den, nejezení po 18 z 24 hodin dne nebo půst celý den jednou týdně.

p Výhody půstů jsou dnes již dokázány i studiemi. Do měsíce dokážou úplně vyléčit cukrovku 2. typu, zamezují a v některých případech i úplně vyléčí rakovinu, pomáhají lidem s Alzheimerovou chorobou i třeba lidem s autismem... A pro většinu lidí to nejdůležitější: #[strong je to nejbezpečnější a nejefektivnější způsob jak zhubnout].

p Bohužel se na internetu i mezi takzvanými experty setkáme s nemilou záměnou "půstu" a "hladovění". Mnoho studií těmito pojmy rozdíly nedělají a tím mlží, podkopávají a pohoršují zdravotní výhody půstů, protože je spojují s hladověním organismu - #[i to nastat nemůže - tedy pokud nejste jen kost a kůže a děláte měsíční půst], to je selský rozum. 

// where do i put this??

p ={`Nejdelší půst`{https://en.wikipedia.org/wiki/Angus_Barbieri%27s_fast} trval 382 dní, kdy se Angus Barbieri dostal z 207kg na 82kg. Pil jen vodu a bral pro jistotu obyčejný multivitamín. Neměl za celou dobu půstu žádné komplikace.}=

p Půsty jsou skvělé díky tomu, že tělo začne hledat chyby a ničit zbytečnosti. Nemá žádnou potravu zvenku a díky tomu se rozhlíží po těle: pálí tuky, zpracovává přebytečnou kůži a ničí výrůstky, které nemají být kde jsou - jako třeba nádory. Tomuto jevu se říká "autofágie" - požírání sám sebe. ={...zní to daleko strašidelněji než to je, ale je to mocný mechanismus!!}= 

p Nemáme s půstem pak žádný problém s tím, že bychom kvůli rychlému zhubnutí měli všude povislou kůži - právě naopak. Půst dovolí tělu pálit kůži ve velkém množství a používá ho jako bílkovinu například ke stavbě svalů. Podívejte se například na fotky přeživších holokaustu - museli přežívat bez jídla často a na dlouhou dobu - a mají oni snad povislou kůži?

p V těle je #[i mnoho a mnoho mechanismů] pro to, aby si půstem neuškodilo - #[strong lidské tělo není hloupé!] Napumpuje vás adrenalinem, aby se vám zrychlil metabolismus, a růstovým hormonem, aby ochránil svalstvo a orgány před pálením. Bude se snažit pálit co nejvíc tuku, abyste z pohledu těla "měli dost energie na hledání potravy". Tělo začne z tuků vyrábět #[i ketony], které slouží jako doping pro mozek, aby vám mozek jel na plné otáčky. A to jsem jen nakousnul to, co tělo dělá při půstu!

// TODO complete detox

p Pokud vyhledáváte třeba i detox organismu, není nad 

// inflammation


// TODO move these two into a summary of some sort

p Když vezmeme tyto zdravotní výhody (nebo spíš nutnosti) v potaz, #[strong absence půstů vysvětluje nástup chronických nemocí posledního století], tj. každá nepřenositelná negenetická nemoc. Vše se zvedá #[i přesně] s nástupem dostupného jídla.

p #[strong Rakovina, obezita, cukrovka, Alzheimer, chudokrevnost, vysoký tlak, nemoci jater i ledvin... vše a ještě více se dnes objevuje u více než 60% populace ČR, protože tito ledé nemjí půsty a nejí správnou stravu. Je to jen o změně životního stylu.]





// TODO OPTIONAL - REWRITE THIS!!
h2  Jak tedy taková dieta vypadá třeba u mě?

p Pro kontext vám prozradím něco o sobě - #[strong můj ideální jídelníček se bude lišit od vašeho]. Jsem 22letý kluk, 165cm, 55kg. Svaly mám tak akorát, jsem hubený. Aktivně necvičím - jenom si dám ráno pár kliků a protáhnu se. Čas od času se proběhnu na nějaký ten kilometr, asi 3x do týdne. Pracuji jako programátor, takže sedavá práce.

p #[strong Nesnídám.] Často si dám `kafe se smetanou a kokosovým olejem`{}, abych své tělo připravil na produktivní den. Káva mi kofeinem zrychlí metabolismus, dojdu si dobře ráno na záchod (důležité!!) a energie z tuků mi nezvedne insulin, takže se tělo chová jako při půstu.

p #[strong Obědvám po čtvrté hodině, někdy vůbec.] Buď si zajdeme s přítelkyní na kebab ={hodně masa, salát, zelí, tučná pálivá omáčka, na talíř bez chleba}= nebo si dáme jídlo doma. Podle nálady to může být opečený vepřový bok, salát se spoustou majonézy a kurkumy, nebo klidně jen samotná paštika nebo jogurt s jablkem. Většinou to není moc velké jídlo, abych mohl být do večeře aktivní.  

p #[strong Večeře bývá velká, kolem šesté až do osmi.] K večeři si dávám jídla nejvíce. Rád například vařím játra na indický překořeněný způsob na másle, abych do sebe dostal antioxidanty, minerály, vitamíny - zkrátka `látky, které se dobře vstřebávají hlavně v prostředí tuku`{}.

p #[strong Když už jím velké jídlo, nebojím se pečiva ani alkoholu.] Je důležité pečivo používat tak, jak se má - #[strong jsou nosiče tuku, které nám dovolí sníst více tuku a přinutí tělo ho vstřebat a uložit do těla pro dobu, kdy budeme mít další půst]. Nebudu vám zakazovat třeba `pivo`{}, pokud ho budete vědomě pít se znalostmi toho, co s vámi udělá.

p #[strong Čas od času nejím za celý den vůbec nic.] Nemá cenu se nutit do jídla, když na něj nemáte čas nebo prostě nemáte ani chuť. `Podobné půsty zpomalují stárnutí, zabraňují rakovině, obezitě, cukrovce a všem podobným nemocem.`{}

p #[strong Kdo nemá ve svém životě alespoň nějaký půst, zvyšuje tím svojí šanci na rakovinu více, než kuřák!]

//% TODO something else to add??






