
//------------------------------------------------------
// Dýchání
//------------------------------------------------------

p S čím dýchací tréninky pomohou?
  ul
    li Dušnost všech druhů a příčin
    li Anémie / chudokrevnost
    li Zmírnění následků alergií
    li Zlepšení VO2 Max (astmatici znají)
    li Lapání po dechu po fyzické aktivitě
    li Sníží celkově tep; při aktivitě i klidový tep
    li Zlepší variabilitu tepu 
    li Zničí problémy s rýmou





p Každý si díky dnešnímu 'fitkovému' šílenství myslí, že jediný způsob, jak mít dobrou fyzičku, je cvičení. Mohu vám s naprostou jistotou říct, že kardio cvičení pro udržení kondice je ztráta času a úsilí.

p A je škoda, že si lidé myslí, že návštěva fitka nebo pobíhání po parku je jediná cesta k 'fyzičce'...
p Pokud víte #[i co] a #[i jak] trénovat, stačí překvapivě málo úsilí, může tak trénovat klidně i člověk na vozíčku a #[i nic] to nestojí.

p Dále se tady dočtete, na čem taková fyzička #[i vážně] závisí. Nejlepší je, že zlepšovat kondici lze i v sedě před televizí! Zabere vám to navíc nanejvýš 15 minut denně.

p.spoiler A není to nějaká pitomost jako teleshopingový vibrační pás za osm stovek, co bude 'cvičit za vás')

p Tyto techniky bude zaručeně znát kdokoliv, kdo zkoušel jógu a učil ho člověk, který ví, co dělá. V asijských tradičních cvičeních je kladen velký důraz na dýchání - a z dobrého důvodu. Ovlivňuje totiž úplně všechnu oxidaci v těle, což pro laiky znamená 'pálení energie'. Jinými slovy zdokonaluje metabolismus a můžete díky tomu zlepšit i hubnutí. Ale jen zlepšit - jen dýcháním nikdo bohužel nezhubne.


h2 Co nás nutí dýchat? 

p Ze začátku si řekneme jak to celé funguje, abyste věděli, o co se při dýchání snažit. Pobud budete chápat biomechanismy, sami se můžete rozhodnout, jaké cvičení je pro vás nejvýhodnější.  

p Schválně - co si myslíte, že vás nutí se nadechnout? ...zdá se to jako jednoduchá otázka s jednoduchou odpovědí. 'Protože mi dochází kyslík! ...ne? ...NE?!'

p Bohužel, není tomu tak; je to trochu složitější. A můžeme se o tom sami přesvědčit pomocí následujícího experimentu (nebojte, nezabije vás to): 

p Začněte dýchat jen nosem. Pomalu. Všímejte si, kdy se vám chce nadechovat. Až budete připraveni, nadechněte se a zadržte dech. Až začnete mít pocit, že už nemůžete držet dech dál, vydechněte a #[strong znovu zadržte dech].

p Co to? Zrovna jste vydechli #[i ještě více kyslíku], ale můžete dál na chvíli dech znovu držet? Věřte mi, že jste své tělo neoblbnuli - děje se tu velmi zajímavá věc.

p Jo a můžete vydechnout, heh. Doufám, že jste se neudusili! 

p #[i Co tento experiment tedy dokazuje?] 

p Když jsme se potřebovali nadechnout, oxidací jsme přeměnili nadechnutý kyslík na oxid uhličitý, který pak držením dechu nashromáždil. Když jsme ho vydechli, získali jsme moment úlevy, protože jsme se zbavili části CO2 v těle. Množství kyslíku v těle se ale nezměnilo, ani jsme se nenadechli. 



h2 Dušnost je způsobena velkou koncentrací oxidu uhličitého v krvi, ne nedostatkem kyslíku

p Všichni snad známe ze školy, jak funguje dýchání... ale dáme si opáčko, s trochou detailů podstatných pro nás:

p Nadechnete vzduch - směs různých plynů; především dusíku (78%), kyslíku (20%), trochu oxidu uhličitého (<1%) a ostatních plynů. Molekuly kyslíku se v plicích 'nalepí' na červené krvinky a krví se skrz tepny roznesou do celého těla.

p Každá buňka pak při oxidaci - přeměně cukrů #[i nebo] tuků na energii - přemění kyslík na oxid uhličitý. Čím větší výdej energie, tím více oxidace a tím vyšší produkce oxidu uhličitého. Zjednodušeně při oxidaci nalepí buňka na molekulu kyslíku jeden atom uhlíku.

p.spoiler Pro pochopení výhod půstů{} a nízko-sacharidových diet{} je důležité i to, že oxidace cukrů vytváří více oxidu uhličitého než pálení tuku pro to samé množství energie! Jinak řečeno: při půstu nebo správné dietě můžete svoji kondici zlepšit #[i ještě více]!) 

p Pro správnou oxidaci se v buňce prohodí v červené krvince molekuly O2 a CO2 tak, že červená krvinka plná O2 je donucena molekulou CO2, aby laskavě vystoupila, udělala místo a nechala se využít buňkou.

p #[strong Kyslík se pouští červených krvinek jen v prostředí oxidu uhličitého.]

p Když krvinka nabere CO2, putuje žilami zpět do plic, kde krvinka oxid uhličitý ztrácí a my ho vydechneme. Při nádechu se do plic dostane nový kyslík a celý proces se opakuje. 

p Většina lidí neví, že koncentrace kyslíku v krvi se málokdy dostane pod 95%. Krev je NEUSTÁLE nasycená kyslíkem, ale je práce oxidu uhličitého ho dostat ven, aby kyslík mohly využívat buňky. 


h2 Co tedy nutí tělo se nadechovat? Jak dýchání zlepšit? 

p Biologicky, je to #[i kyselost naší krve] co nám způsobuje pocit se nadechnout - tělo je na to neskutečně citlivé, aby nepoškodilo kyselým nebo zásaditým prostředím své buňky. Právě CO2 dělá krev více zásaditou; to je pro tělo známkou, že je čas dostat dýcháním hodnotu pH krve dolů a dýchat.

p #[i Nádechem] se dostane do krve víc O2 (ta 'zředí' krev) a tím se pH zvýší - je více zásaditá. #[i Výdechem] se pak z krve dostane ven CO2 a tím se pH sníží - je více kyselá. Tyto změny v kyselosti bere tělo jako signály k dýchání. Pro zajímavost: pH krve se pohybuje těsně mezi 7,35 a 7,45. 

p #[strong Cílem našich cvičení je donutit tělo, aby si zvyklo na změny pH krve tím, že ho budeme změnám vystavovat.]

p Reaguje na to dvěma způsoby: Za prvé si prostě zvykne nepanikařit tak brzy a začne tolerovat větší výkyvy pH. Za druhé - a nedělám si srandu - #[i začne vytvářet více červených krvinek]!! Tím vám vlastně pomůže víc, než prášky s železem předepisované lidem s chudokrevností - dokud samo tělo nemá pocit, že potřebuje více krvinek na přepravu, ani prášky s materiály pro stavbu ho nedonutí. 


h2 '...Takže se mám jako... dusit?!'

p Ano. Tak trochu. Samozřejmě ne tak, že by vám bylo životu nebezpečné, ale ano.

p Trénink spočívá v tom, že dýcháme co nejpomaleji a využíváme především bránicí - prsa se nám ani nehnou, zvedáme hlavně břicho při nádechu a vzduch ven netlačíme, ale necháváme břicho samo od sebe vyfouknout.

p Dýcháme tak pomalu, že celé tělo po nás bude křičet, abychom dýchali rychleji. Počítejte si jak dlouho vám zabral každý nádech a zkuste časy zlepšovat. Pokud vám omylem ulítne nádech, zadržte o to víc výdech. Hrajte si s tím. Vaše bránice bude i ze začátku protestovat mírnými záškuby - to už je prosím #[i trošičku příliš].

p Že to zní hodně jako pocit, když běžíte na plno a nemůžete polapit dech? #[i Přesně tak!!] Přesně proto je to tak efektivní - jako běhání, ne-li více. Místo toho, abyste cvičením v sobě vytvářeli více oxidu uhličitého, můžete nedělat nic a místo toho se snažit ho tolik nevydechovat a dosáhnout stejné koncentrace CO2 jako při běhání.

p Nebudu vám lhát, dělat to delší dobu je náročné. Ze začátku nebudete moct ani vnímat, co se děje kolem vás a budete muset být naprosto koncentrovaní, abyste to nezačali 'flákat'. Nebude vás to bavit a bude to otrava. Ujišťuji vás ale, že benefity tohoto cvičení se ukážou #[i už po prvních několika dnech].

p Jsem ale pro to, že lidi s nadváhou nemůže nikdo nutit do fyzického cvičení. Kdo by chtěl cvičit, když ani nevyběhne schody. Tohle je ale něco co může dělat kdekoliv kdokoliv - od obézního důchodce přes 14letého astmatika až po zaneprázdněného 25letého atleta. 

p Koukáte na telku? Dýchejte. Čekáte na zastávce na autobus? Dýchejte. Musíte jít pěšky 20 minut do práce? Dýchejte. Jedete MHDčkem do města? Dýchejte. Cvičíte ráno když se vzbudíte? Dýchejte. Nemůžete usnout a nedokážete zastavit to neustálé myšlení na blbosti ve 2 ráno? Dýchejte. Sedíte na záchodě? Dýchejte.

p.spoiler Tip: Tyto pomalé pohyby bránicí výborně pomáhají při zácpě nebo když chcete vynutit jít ráno ve spěchu na záchod! Lepší než kafe!

p Kdykoli se vám to hodí a nemusíte nad ničím jiným nijak přemýšlet (#[i ...a nehrozí, že kvůli tomu někoho třeba zajedete, nebo někdo zajede vás!! Dávejte na sebe pozor!!]), zkuste se soustředit na to, abyste pomalu dýchali a abyste 'neplýtvali vzduchem' jak rád říkám.

p Udělejte pomalé dýchání vaším zvykem, všímejte si jak dýchá okolí a třeba je poučte o svých nových poznatcích. Dávat si na tohle pozor se vyplatí komukoliv, nic to nestojí a výsledek je vidět téměř okamžitě.

p Nevzdávejte se a hodně štěstí!! 
