
//------------------------------------------
//  Metabolismus
//------------------------------------------


p V následujícím článku vám povím, jak v těle #[i všech živočichů] funguje metabolismus sacharidů, tuků a proteinů jakožto zdroje energie pro tělo. Abychom se mohli bavit o tom, čím a jak tělo živit, musíme chápat i jak tělo všechno co sníme využívá, co si jak ukládá a podobně.

p Pro obecné pochopení si vypůjčím `metaforu doktora Jasona Funga`{TODO}, experta na půsty a nízkosacharidovou stravu jakožto nejefektivnější nástroj pro léčbu diabetu 2. typu, hubnutí a zpomalování stárnutí.

// TODO review
p Pokud pochopíte tento následující jednoduchý koncept, pochopíte s tím i základní důvody, proč dieta, kterou na webu doporučuji, je tak moc efektivní. Zjistíte, jak tělo zachází s kaloriemi z různých makronutrientů (tj. sacharidy/cukry, tuky, bílkoviny), kdy je ukládá, kam je ukládá a jaké hormony celý proces ovlivňují. 



h2 Jaká je klasická představa o energii - kalorie

p Kalorie je drasticky zjednodušený způsob, jak se dívat na jídlo. Jako každý živočich, nejsme jen stroj, co pálí energii, ať už pochází odkudkoli. Tak jsou kalorie měřeny - pouhým spálením materiálu v peci a změřením energie, kterou toto pálení vyprodukovalo. Takhle můžeme přemýšlet i nad uhlím, ale asi nedostaneme tu samou energii, kterou by nám to uhlí vytápělo chatu, že ne? My nejsme #[i jen pece], jsme složitá živá stvoření a přemýšlet v kaloriích jako něco víc než odhady každému jen uškodí.

p Starý (chybný!) pohled na věc je takový, že tělo má nějaký kalorický příjem a nějaký výdej. Pokud byste podle tohoto modelu chtěli zhubnout, je doporučováno prostě - znáte to - jíst méně.

//
//
// TODO obrazek
//

p Doporučení na tomto zjednodušeném pohledu pak přichází v různých formách - "jezte málo, 6krát denně" nebo "jezte jen nízkokalorická jídla vysoké na sacharidy" nebo také "vyhněte se tukům, mají v sobě příliš kalorií a budete se přejídat".

p Dále vám budou i vnucovat, ať už jste jakkoli obézní, abyste zvýšili svůj výdej kalorií. Znáte to, máte 120kg, ale doktor vám se vší seriózností řekne, ať cvičíte. Ať jezdíte na kole. Ať s artrózou v nohách nebo nemocnými kyčlemi chodíte na hodinové procházky! Ať pohybem se svým nemocným, sotva pohyblivým tělem uděláte něco se svojí nadváhou a pak ještě tvrdí, že pro to neděláte dost, když se o to upřímně snažíte. 

p Jak se dále dozvíte, kalorický pohled na jídlo #[i nic nespraví]. A ztloustnete ještě víc!


h2 Model dvou úložišť energie: Lednice, Mrazáky a Závory

p Důležité je si uvědomit, že tělo má 2 způsoby, jak si ukládat energii. Když není potřeba všechno spálit hned, ukládá si přebytek paliva na dobu, kdy ho bude potřebovat.

p Jako první tu máme #[strong lednici]. To je ta lednice, kterou máme všichni doma, někdo má malou, někdo velkou, je #[i jednoduché] do ní věci #[i dávat] a je jednoduché z ní věci #[i vyndavat]. Je vždy #[i na dosah] a snadno se s jejím obsahem manipuluje.

p #[i Lednice představuje naše zásoby cukrů a sacharidů.] Můžete si lednici představit jako vaše játra. Vejde se do nich energie na 1 den. Pro úplnost, myslete na lednici i včetně ovoce, co byste měli v míse vedle. Cukr z těla nikdy nemůže kompletně zmizet, vždy budete mít alespoň trochu cukru v krvi.

p Dále máme #[strong mrazák]. Mrazákem si zde představte #[i obrovský], supermarketový box s otevíráním nahoře, který byste měli #[i na nepřístupném místě] jako je třeba sklep. Vejde se do něj obří množství jídla a to v něm může vydržet jakkoli dlouho a nic se v něm #[i nemůže zkazit]. Bohužel je ale #[i těžké se k němu dostat]. 

p #[i Mrazák jsou jako naše tukové zásoby.] Jakýkoliv tuk, který je na břiše (a v břiše!), na stehnech, na bocích nebo na rukou.

p Celý systém funguje jak byste od ledničky a mrazáku očekávali. Nejdřív plníme ledničku a pokud se nám něco do ledničky nevejde, musíme to jít do sklepa uložit do mrazáku, abychom to mohli využít, až nebudeme mít dost v lednici.

//
//
// TODO obrazek
//

p Vždy chceme co nejdříve jíst z ledničky - nechceme, aby se nám něco v ledničce zkazilo! Buď bychom plýtvali, nebo bychom museli jíst zkažené jídlo! Kvůli tomu se bere #[i jídlo z mrazáku pouze a jen tehdy, když nemáme dost jídla v lednici]. Proč bychom koneckonců šli až do sklepa pro zamrzlé jídlo, když lednička ještě není prázdná. 

p Máme v tomto systému ještě jeden kus skládačky - hormon insulin. To je ten, který je předepisován diabetikům na "léčbu", ale jak sami poznáte, problém to nejen neřeší, ale dokonce zhoršuje.

p #[strong Insulin] je jako závora. #[i Rozhoduje o směru a množství výměny mezi ledničkou a mrazákem.] Insulin je mnohoúčelový #[strong hormon zadržování] - čím více ho je, tím více říká tělu ať začne zadržovat látky a energii. (V další sekci )

p #[strong Zvýšený] insulin nařídí #[strong pohyb jídla z lednice do mrazáku.]

p #[strong Snížený] insulin způsobí, že se #[strong začne vyndavat z mrazáku jídlo ven.]

p Nyní #[i konečně] můžeme mluvit o tom, co to znamená pro naše tělo a jak nás ovlivňují různé potraviny. Než budete pokračovat dál, doporučuji si přečíst celou sekci znovu a myslet na #[strong lednice = cukry] a #[strong mrazák = tuky]. Všechno začne do sebe pak zapadat.  


h2 Reakce modelu na okolí a změny insulinu

p Vrhneme se na nejpodstatnější část - vyvodíme si z modelu co se se systémem děje, když něco sníme, když nejíme vůbec, když jíme jen málo a jak tělo reaguje na další okolní vjemy. Jednoznačně si tím teď odvodíme, jak funguje hubnutí a tloustnutí.

p Vše závisí na #[i hladině insulinu] - ten ve výsledku způsobuje, že tloustneme. Cokoliv, co ovlivňuje hladinu insulinu, následně ovlivňuje i tloustnutí.

p #[strong Insulin zvyšují například]: sacharidy (nejvíce cukry), alkohol, stres (např. ranní hormon kortizol), nedostatek soli a vody (obojí spolu způsobuje právě `dehydrataci`{TODO}) a i nadváha samotná!

p #[strong Snížit insulin dokáže třeba]: delší doba bez jídla, abstinence od cukrů a do jisté míry i cvičení (ze cvičení samotného se ale nehubne). Obecně když nic nejíme, potřebujeme začít vyprazdňovat mrazák a insulin se adekvátně sníží sám a bez zvláštní pomoci. 

p Na tomto hormonu je zajímavé to, že #[i čím více insulinu v těle je, tím víc pak přibyde]. Jinak řečeno záleží hlavně na #[i frekvenci] jeho zvyšování - čím častěji jsme ovlivněni věcmi, který insulin zvyšují, tím horší jsou pak následky.

p Mohli byste jíst hroznou dietu, ale když jíte jednou denně, její negativní efekt delším časem půstu vymizí. Stejně tak pokud jste neustále vystavováni stresu, můžete z toho nabrat váhu. Nejhorší je, že pokud už obézní jste, insulinu je hodně #[i neustále] - v tom případě funguje spolehlivě už jen `správná dieta, která insulin nezvyšuje`{} v kombinaci s `půsty`{} (většinou nejlépe kratšími a pravidelnými).



h2 Omezování kalorií bez snižování insulinu a nízkotučná strava aneb Jak se "léčí" podle doktorů cukrovka 2. typu a obezita

p Pokud selžete ve snížení hladiny insulinu a přitom budete jíst méně (nízkotučná nízkokalorická strava) a nedej bože ještě začnete cvičit, potká vás místo trvalého zhubnutí buď stejná váha nebo slavný "yoyo efekt". Představme si náš model mrazáku a ledničky. Vysvětlíme si proč jsou tyto diety tak moc nespolehlivé.

p Představme si, že jsme obézní a doktor nám po prohlídce řekne, že máme trochu shodit. Poradí nám nejíst tučné, jíst často ale méně a víc se hýbat. Klasika. 

p My si pak vynahradíme tučná jídla třeba větší porcí knedlíků, suchým rohlíkem nebo ovocem místo salámu a sýru ke svačině a tak podobně. Jíst tedy budeme častěji, třeba každé 3 hodiny, protože to jsme uslyšeli ráno ve Snídani s Novou, když jsme si dělali snídani v kuchyni. 

p #[i Jaký taková změna bude mít vliv na náš model? Jak to ovlivní naší energii? Vážně zhubneme?] Zapřemýšlejme se nad tím.

p Naše lednička je neustále plněna, i když málo - vždy v ní něco najdeme. Insulin pravidelně zvedáme sacharidovými svačinkami jako třeba ovocem a pečivem.

p Jediný jasný následek bude, že se #[i kvůli zvýšenému insulinu nemůžeme dostat pořádně k mrazáku].

p Takže ve výsledku budeme žít na minimu jídla, které máme z lednice a z mrazáku nedostaneme skoro nic. Prakticky budeme hladovět, i když máme všechno to jídlo v zamčeném mrazáku.

p #[i Tento nedostatek energie bere tělo jako krizový stav]. Jelikož možná dostáváme do sebe míň energie než kolik potřebujeme, začne si tělo #[strong hodně] stěžovat. Začneme mít neskutečný hlad a chutě, které svými svačinkami nemůžeme za celý den zahnat. Začneme být unavení, protože se tělo prostě zpomalí, aby nepálilo tolik energie, když nedostane přes celý den víc. Celý náš metabolismus se začne zpomalovat. 

p Tělo začne pálit #[i cokoliv k čemu se dostane], jako třeba naše svaly - jelikož se nemůže dostat přes insulinový zámek k tukovým zásobám a nejíme dost jídla na základní běh těla, nemá jinou možnost než využít svalovinu k získání energie! To je jako bychom měli na zimu nasekanou spoustu dřeva a my pak místo toho rozsekáme svůj gauč a hodíme ho do kamen na zápal! Naprosto stupidní nápad, že ano?

p #[i Pomůže nám s hubnutím cvičení? Ne na dlouho.]

p V této situaci, kdy jsme svůj insulin spíše zvýšili, je cvičení to jediné, co nás bude chránit. Bude nám zlepšovat reakci na insulin a tím ho sníží, zabrání zpomalování metabolismu a pohyb ochrání naše svaly před spálením.

p Pravděpodobně to ale dlouho nevydržíme, protože #[i stále nemáme dost energie na pohyb!] Cvičení bude neskutečně těžké a budeme unavení velmi rychle. To nás nejspíš odradí od cvičení a i kdybychom chtěli pokračovat, dlouho to nevydržíme a přestaneme.

p Pak nám ještě na další preventivní prohlídce bude pan doktor říkat, že jsme se moc nesnažili. Že je to #[i naše vina], že jsme nezhubli. Že jsme pro to podle něj neudělali dost. To tak.

p Ještě i dodá, že se náš cholesterol zhoršil a že jestli nebudeme dodržovat dietu lépe, dostaneme na cholesterol prášky. Ty pak i po roce dostaneme, společně s prášky na vysoký tlak...

p Pokud jste člověk po padesátce nebo sledujete zdraví svých prarodičů nebo rodičů, bude vám tato situace velmi povědomá. Když se dostanete do tohoto stavu a začnete dostávat prášky, jde to jen z kopce. Dnešní zdravotnictví nedává dobré rady a jejich prášky vaši situaci jen zhoršují.

p A představte si, že do obézního člověka doktoři začnou pumpovat #[i víc] insulinu. Ano, sníží to krevní cukr (podle kterého doktoři diagnostikují cukrovku), ale problémem je plný mrazák, ne že v oběhu je příliš energie navíc! Snížení cukru se pak docílí tím, že se uloží do mrazáku a ztloustneme - přesný opak toho, to v takové situaci chceme!! 



h2 Jak hubnout spolehlivě a trvale

p Při hubnutí máme jednu jasnou prioritu: #[strong snížit insulin]. Jak už jsem zmiňoval, snížit insulin lze tím, že omezíme #[i jakékoli] sacharidy a nahradíme je tuky, které na insulin nemají vliv, budeme jíst v co nejužším okně (např. 8 hodin jezení, 16 hodin půstu) a budeme chodit na krátké procházky po jídle (stačí 20 minut, více už nemá extra efekt).

p #[i Je to opravdu tak jednoduché.] Nyní i víte, proč to tak funguje a víte něco, co uniklo většině dnešních doktorů.

p #[strong Nejjednodušší je zúžit vaše okno, kdy jíte.] Ať už jíte cokoli, při `pravidelném půstování`{} uvidíte jasný rozdíl na váze.

p Můžete mít tu nejhorší stravu a stále trochu zhubnout, pokud například jen 16 hodin ve dni nebudete nic jíst a nebudete pít nic slazeného (ani bezkalorická sladidla a náhražky!)

p Můžete si také tento režim uzpůsobit, aby #[i vám] vyhovoval. Máte dnes moc práce a nestíháte se najíst? Najezte se až doma. Máte víkendovou žranici a nechcete být ten člověk, co furt opakuje "nemůžu, mám dietu"? Nažerte se a další den třeba nejezte vůbec. Úplně přeskakujte snídani a jezte až od čtyř odpoledne po práci. Nebo si dejte svojí snídani s rodinou a nejezte po páté hodině večer. Je to na vás kam svůj půst do svého dne dáte - hlavně ať tam je. 

p #[i Dalším krokem je omezit všechno to pečivo, těstoviny, brambory, cukr a `i ovoce`{TODO}]. Měnit jídelníček jako první je těžké, ale po nějakých zkušenostech s `půstováním`{TODO} vás to bude nutit k tomu, abyste si dávali větší a nutričně plnější jídla. Pokud už nemůžete ve svých 6 hodinách jídla pro ten den nacpat deset svačinek, nejspíš přestanete svůj omezený prostor v žaludku plnit zbytečným jídlem, které vás nezaplní.

p Přirozeně vás půsty časem budou nutit k tučnějším částem jídel - omáčky, maso, polévka, plnotučná smetana, tučné sýry a salámy... A to je dobře! Tenhle velmi chutný jídelníček je to, co je pro tělo zdravé! Teď už víte přesně jak to funguje, tak se nenechte okolím rozhodit. Odmítněte klidně všechny knedlíky a vezměte si jen maso s omáčkou. Váš `hlad`{} téměř zmizí a budete mít více energie do zbytku dne!

p Nyní víte co většina neví. O `cholesterol`{} se také nebojte, ten bude díky tučnější stravě lepší než kdy jindy, to vám garantuji! 

p Pokud by vás zajímaly detaily `nepravidelných půstů`{} a `nízkosacharidové (lowcarb) stravy`, můžete si počíst další články. Poučím vás tam o tom, jak techniky fungují a jakým problémům se vyvarovat. Pokud budete mít s něčím problémy, mrkněte se nejdřív tam. 
 
// TODO ending???
