<p>
  S čím pomůžou následující rady?
<ul>
  <li>Bolesti zad (páteř a svaly, včetně oblasti krku)</li>
  <li>Vybočené palce, pokřivené malíčky</li>
  <li>Bolesti nohou (chodidla, kolena, kyčle)</li>
  <li>Prevence poranění</li>
  <li>Ploché nohy (nic jiného efektivně ani nepomůže)</li>
</ul>
</p>

<p>
  Jak se problémy poznají než se ukážou?
<ul>
  <li>Vaše bosé kroky jsou slyšet</li>
  <li>Používané boty mají sešlou jednu stranu paty</li>
  <li>Kroky v botech nejsou stabilní</li>
  <li>Neujdete 10 km pěšky bez bolesti nohou</li>
  <li>Bolesti hlavy po procházkách</li>
</ul>
</p>

<p>
  Co byste řekli, že jsou ideální boty pro člověka? Jsou to silné podrážky nebo podpatky? Sportovní odpružené boty nebo snad upnuté kopačky? Asi cítíte, co tím naznačuji...
</p>

<p>
  <b>
    <i>Nejlepší</i> boty jsou <i>žádné</i> boty.
  </b>
</p>

<p>
  V momentě, kdy si vezmete na nohy boty, tělo musí okamžitě změnit způsob, jakým tělo udává do pohybu. Přestane používat svaly pro zmírňování nárazů a jelikož je pak náraz cítěn jako zmírněný, náraz se pak začne kompenzovat jinde.
</p>

<p>
  Toto způsobuje problémy pro celé tělo. Necítí jaký náraz se reálně děje pomocí chodidel a místo postupného zmírnění pomocí svalů, náraz jde přímo do kostí. Postupně se ozve do paty, pak kotníku, kolena, kyčle a může projít celou páteří a způsobit i bolesti hlavy.
</p>

<p>
  Narozdíl od svalů, kosti se opravují tak pomalu, že můžete snadno poškodit klouby rychleji, než se stačí opravovat. Dokonce ani nebolí, pokud jsou poškozovány postupně a pomalu. Klíčové je <i>zatěžovat svaly místo poškozování kostí</i>. Ano, to bolí, ale to je dobře. Svaly zátěží zesílí, kosti ne. Chcete vědět o tom, že jste trochu moc bolestivě dupnuli do chodníku, ne se této informativní bolesti vyhýbat a chodit tak po zbytek dne!
</p>

<p>
  Chodidla dokážou být neuvěřitelně silná, pokud je necháte vycvičit se a pracovat přirozeným způsobem. Po statisíce let jsme s anatomicky stejným pohybovým ústrojím našlapali daleko víc než dnes. Je to evolucí vylazený perfektní systém pohybu, kterému jen uškodí, když si nozujete boty. Tělo je chytré, nechte ho dělat věci tak, jak bylo postaveno.
</p>

<p>
  Naše chůze je aktivně změněna k horšímu. Jinak řečeno: <i>kvůli dnešním botám už ani neumíme chodit</i>. Nejen že naše chodidlové svaly jsou slabé, ale používáme je jinak, než bychom měli. Každým krokem ve špatné obuvi se nám kroutí noha nepatrně do stran a po dlouhé době se to ukáže na kloubech nebo na vyvrtknutém kotníku.
</p>

<p>
  <b>VAROVÁNÍ:</b> Pokud chodíte celý život ve špatných botách, nemůžete okamžitě chodit bosí na desítky kilometrů. Vetšina lidí nemá dost silné svaly a šlachy na to, aby mohli okamžitě zatěžovat bosé nohy. Jako každý jiný sval, potřebuje se zesílit cvičením. Berte to prosím pomalu. Ve článku jsou dále detaily pro to, abyste se při změně nezranili. Neignorujte svoje tělo, když si stěžuje, a nepřežeňte to. Taková změna, jako většina efektivních změn, chvilku trvá.
</p>



<h1> Jaké boty nenosit? Ani sportovní ne?</h1>


<p>
  Začněme s tím, co rozhodně nenosit. Připravte se na to, že nebudete pohlížet na okolí jako doteď. Všichni nosí příšerné boty.
</p>

<p>
  <i>Dnešní sportovní boty jsou to nejhorší, co si na nohy můžete každý den brát.</i> A ano, myslím to vážně. Boty, které nosí snad každý mladý člověk; které jsou <i>navržené</i> pro pohyb, jsou ty nejškodlivější ze všech.
</p>

<p>
  Pokud se vám při každém kroku prohne 'příjemně' podrážka jako trampolína, je to hodně špatné.Na druhou stranu se vám z nich neskřiví prsty na nohou, většinou mají spoustu prostoru pro špičku.
</p>

<p>
  Na druhém místě se řadí zdravotní obuv. Ano, ani doktoři neví moc co dělat a většinou spíš uškodí. Měli by být nošeny jen nemocnými lidmi, kteří například kvůli artróze nemůžou jinak chodit. Tyto boty neléčí vaše nohy, ani neslouží jako prevence problémů. Je to úleva těm, kteří nemají jinou možnost, ale problémy mají tyto boty stejné jako ty sportovní.
</p>

<p>
  Navíc budete ve falešném domnění, že se vám v nich chodí příjemně a že nemůžou být špatné, protože se jmenují 'zdravotní'. To nejhorší je poškození, kterého si ani nevšimnete a ukáže se za spoustu let. Zdravotní boty mají ve výsledku stejný efekt jako byste si vzali všudypřítomné 'kroksy' nebo jakékoliv jiné pěnové boty; jen jsou trochu lépe navržené a mají lepší tvar.
</p>

<p>
  Oproti tomu jsou nepříjemné vysoké podpatky rozhodně lepší. Vysoké podpatky vám nelžou, víte do čeho jdete. Vysoký podpatek vám úplně změní jak se pohybujete při každém kroku svojí zvýšenou patou (což je ale problém i u sportovních bot), mají často úzké špičky do kterých se mačká nahnuté chodidlo. Rozhodně špatné, ale aspoň víte, že je hrozný nápad.
</p>

<p>
  Překvapivě, vysoké podpatky jsou dokonce lepší než sportovní, protože jsou pevné. Narozdíl od měkkých podrážek cítíte nárazy do země, takže se na něj tělo lépe připraví. Je to zvláštní, ale podpatky vám dlouhodobě nepřinesou takové zdravotní problémy jako zdravotní obuv.
</p>



<h1> Co přesně je s dnešními botami problém</h1>


<p>
  Takže když jsem 90 procent z vás vyděsil, řeknu vám <i>proč</i> jsou tak špatné, v čem a jaké následky dnešní boty přináší.
</p>

<p>
  Mým cílem je vás informovat o tom, jak to celé funguje, abyste se mohli sami rozhodnout, jaké si pořídit pro sebe. Boty jsou přece jen záležitost módy a tak vám nebudu doporučovat několik typů bot, abyste si pak řekli 'no ty jsou ale hnusný, to na veřejnosti přece nosit nebudu, ses zbláznil'. Noste si co chcete, ale mějte na paměti následující fakta a rozhodujte se i podle nich, až si příště koupíte nový pár.
</p>

<p>
  <i>Nejdůležitější jsou 3 faktory (od důležitých): měkkost podrážky + jejich výška, dostatečný prostor kolem prstů a nakonec rozdíl mezi výškou paty a výškou zbytku boty.</i>
</p>

<p>
  Faktor měkkosti a výšky podrážky je klíčový pro zdraví kloubů a páteře a předcházení atrofie/oslabení svalů.
</p>

<p>
  Dostatečný
</p>