<p>
Pohled na to, jak jsme skončili v dnešní situaci, je docela zajímavý. Ano, lidé se dožívají vyšších let než kdy jindy. Ano, už tolik neumíráme na infekční nemoci jako zápaly plic a tuberkulózu (jako tomu bylo v 19. století).
</p>

<p>
<i>Nemocnictví</i> je dnes opravdu špičkové. Proč říkám nemocnictví a ne zdravotnictví? Protože <b>dnešní zdravotnictví je dobré jen v léčení závažných a rychle vyléčitelných nemocí</b>. <i>Prevence</i> a léčba nemocí, které způsobí více než 60% procent celkového úmrtí v České republice, je neinformovaná a založená na 90 letech lží, marketingu a statisticky slabých studií.
</p>

<p>
Hned ze začátku bych vám chtěl doporučit knihu od <a href="TODO">Niny Teicholzové</a>, '<a href="TODO">Tuk: Velké Překvapení</a>'. V této knize, podobně jako já v tomto článku, shrnuje odkud vzešla dnešní dietetická doporučení. Pokud vás toto téma zaujme, obsahuje celý příběh s (někdy příliš detailními) detaily a více než 60 stranami zdrojů o tom, jak byly tuky <i>chybně</i> osočovány jako příčina obezity a srdečních příhod od konce druhé světové války až dodnes, čímž celou <i>situaci jen zhoršili</i>.
</p>

<p>
Článek budu psát chronologicky, začneme od prvotních "studií" v poválečné době až po dnešní bulvární noviny a televizi, které jen potisícáté opakují nepodložené "rady" veřejnosti.
</p>



<h1> Kde to vše začalo: poválečná Amerika</h1>


