<!--  Intro-->
<p class="big">Pokud jste se někdy snažili zhubnout, můžu s jistotou říct, že jste neuspěli.</p>
<p>Pravděpodobně vás nezbavila hladů, nechutnala vám a byla omezující kvůli nesmyslným číslům. Bohužel je dnešní pohled na zdraví tak moc založen na lživých studiích a geniálním marketingu, že i když následujeme dnes všudypřítomné 'rady', stejně se ne a
    ne zbavit váhy navíc a cítíme se většinou jen hůř.</p>
<p>Naše dnešní stravování je daleko od toho, co je pro tělo evolučně vzato vhodné. Už jenom to, že jídlo je na každém kroku a neustále se nám ho někdo snaží prodat, jde proti přírodě.</p>
<p>Problém ale je, že najít dnes skutečně dobrou radu je opravdu náročné. Internet je plný natisíckrát překopírovaného obsahu, hlavně pokud ho někdo musel na začátku ještě i přeložit.</p>
<p class="big">Proto tu je tato stránka. Protože stačí jen vědět správné informace, nic jiného na tom není.</p>
<p><i>Pojďme se o své zdraví aktivně zajímat, dohnat to, co bychom správně měli vědět už ze školy a nebýt jedním z čísel ve `statistice smrtí`{TODO} na srdeční selhání nebo rakovinu.</i></p>
<p><i>Dnešním chronickým nemocím, které jsou na rozmachu `jen posledních 150 let`{TODO} se vyhneme tak, že se budeme ke svému tělu chovat jako lidé před 150 lety.</i></p>
<p class="big">K tomu nepotřebujeme prášky - jde jen o změnu jídelníčku a vědět jak se k tělu chovat.</p>
<p>Nesnažím se vám nic prodat. Nikdo mě za psaní neplatí, chci jen nestranně informovat veřejnost o tom, jak žít lépe, zdravěji a zlepšit si každodenní náladu. Jsou to rady jak zlepšit svoji kondici <i>zadarmo</i>, ba dokonce ještě i výrazně ušetříte.</p>
<p
    class="big">Žít zdravě je překvapivě <i>velmi levná</i> záležitost, jde jen o to chtít něco změnit.</p>
    <h2>Proč nikdo nezná řešení?</h2>
    <p class="big">Že nejste zdraví není vaše vina.</p>
    <p>Posledních <i>80 let</i> se řídíme špatnými pravidly a dnes už jsou tolikrát opakované a veřejně známé, že si jejich hlouposti ani nevšímáme. Doktoři nepřiznají, že dohnali stovky vážně nemocných patientů k předčasné smrti. Stejně tak se nepůjdou
        proti sobě 'experti', kteří je učí. Ani stát pak nemůže veřejně přiznat, že zahodil miliony na propagaci lživých rad.</p>
    <p>Reklamy jsou všude, a pokud je něco opakováno dostatečně, člověk uvěří i lži. Až budete začínat se změnami, doktoři i známí vám to budou vymlouvat a tvářit se jako by věděli všechno místo toho, aby vás podporovali v experimentování, dali vám rady
        jak změnit svůj životní styl k lepšímu.</p>
    <p><strong>Pravdu si člověk musí najít sám.</strong></p>
    <p>Je známo, že v potravinovém průmyslu se nehraje čistě. Podvody, klamavá reklama a podplácení klíčových lidí za účelem zisku je na denním pořádku. Studie okolo stravování se těžko financují, a tak je spousta z nich placená korporacemi, kteří očekávají
        výsledek pozitivní pro obchod. Pokud je v tomto zklamete, můžete se s financemi rozloučit.</p>
    <p>Mnoho doktory respektovaných známých studií pak nezmiňuje pravé výsledky dat, obsahuje úmyslné chyby ve statistických výpočtech, vynechává nehodící se data nebo se chvástá se svými důkazy, i když jsou na základě dotazníků typu "kolik gramů masa jste
        zkonzumovali v posledním měsíci?" nebo je to studie z 50. let prováděná na ovcích.</p>
    <p>I přes to všechno, co veřejnost vidí, jsou jen zjednodušené výtažky ze sekcí 'shrnutí', která nám média naservírují. Co se neukáže ve shrnutí, je často zapomenuto. Často sice ani nelžou, ale vynechá se vysvětlení celé kapitoly s tím, že "výsledky
        neukázaly <strong>výraznou</strong> shodu" a nikdo už detaily nedohledá. Záleží co se člověk dozví z televize, z novin, nebo obalů od produktů.</p>
    <h2>Kde se teda dá najít pravda?</h2>
    <p>Buď máte znalost anglického jazyka a najdete si informace sami přímo ze `zdrojů, odkud vzešly`{zdroje}, nebo jste jako čech úplně v koncích. Nejradši bych teď vytáhnul odkaz a řekl vám "všechno, co potřebujete je tady; počtěte si", ale takovou stránku
        jsem ještě nenašel. (A věřte mi, nepsal bych to všechno, kdyby byla lepší možnost!)</p>
    <p>Mám sice několik `knih`{zdroje#knihy}, ale kdo by měl čas to číst. Navíc ty nejlepší ještě ani nikdo nepřeložil. Překládat například videa na YouTube taky ne vždy jde, protože titulkování není při výchozím nastavení zapnuté. Tuto možnost bych i preferoval
        - sám mám radši poslouchat rozhovory s experty při jídle než abych si něco četl. </p>
    <p>Většina českých zdrojů online je přinejlepším neúplná (a tímto potenciálně i škodlivá). Téměř všechny vám tlumočí co zkopírovali z jiné stejně neinformované stránky a pozměňují celý obsah aby vám mohli prodat svůj předražený proteinový shake.</p>
    <p>Tím nechci říct, že si můj obsah nemůžete proklepnout, poslušte si! Kritice se nebráním, dokud bude něčím podložena a budeme se bavit jako lidi. </p>
    <p>Předtím vás ale žádám, abyste se zamysleli nad tím, co čtete. Dává to logický smysl? Tak to zkuste sami, jestli se něco zlepší. Pokud se vám to nepůjde, začněte být skeptičtí.</p>
    <p>Hledejte, co funguje pro <i>vás</i>. Neexistuje obecný způsob života, neexistuje "doporučená denní dávka" ani nejlepší dieta pro všechny. Jsme všichni jiní - chci vás tady naučit <i>jak</i> věci fungují, abyste si mohli vše <i>přizpůsobit sobě</i>.
        </p>
    <h2>Co vám tedy zbývá?</h2>
    <p>Čtěte dál a já vás naučím cokoliv budete potřebovat.</p>
    <p>Ať už jste atlet, vegan, alergik, člověk s depresemi, diabetik, jste náladoví, často unavení, je vám 15, je vám 70, nebo i když si myslíte, že je s vámi všechno v pořádku a nepotřebujete nic měnit, něco užitečného se <i>bezpochyby</i> naučíte. </p>
    <p>A pokud pochybujete o 21letém programátorovi a jeho radám a/nebo umíte anglicky a můžete si to najít sami přímo od zdroje, podívejte se `jak a kde si hledám informace`{zdroje}. </p>