<p>
S čím pomůže zalepování úst?
<ul>
  <li>Vyléčí chrápání</li>
  <li>Zlepší kvalitu spánku</li>
  <li>Ochrání váš chrup (kazy, zubní kámen apod.)</li>
  <li>Zbaví vás ranní rýmy a zápachu z úst</li>
  <li>Nepřímo zlepší vaší kondici (lepší dýchání -&gt; lepší kondice)</li>
  <li>S časem vás bude podporovat ve správném držení těla</li>
</ul>
</p>

<p>
Hned ze začátku budu muset zmínit důležitou věc, než mě někdo zavře za pokus o vraždu:
</p>

<p>
<b>Pokud chrápete, nezalepujte si ústa přes noc. V 99% případů je zalepování i v tomto případě neškodné, ale můžete mít větší problémy s dýcháním, než si myslíte. Začněte se zalepováním v průběhu dne a pokud s tím nebudete mít větší problémy, teprve pak začněte se zalepováním v noci.</b>
</p>

<p>
Takže když jsem vás teď vystrašil, řeknu vám něco míň kontroverzního... <b>Lidé jsou postaveni tak, aby <i>vždy</i> dýchali nosem.</b> I kdyby jste běželi nebo měli rýmu, máte mít vždy ústa zavřená a dýchat jen a jen nosem, jen ve výjimečných situacích můžete dýchat ústy.
</p>



<h1> Proč je dýchání ústy tak důležité</h1>


