<!-- ZDROJE-->
<p>V celé stránce dělám na všechny strany chytrého a rád říkám, že co vám radím já, vám pravděpodobně žádný obvodní/praktický doktor ani většina českých expertů neporadí... Odkud ale ty svoje moudra mám? Co dokazuje, že vás jenom tak nevodím za nos a nejsem
  jen další blogger, co si myslí, že ví z pár článků víc než vyškolený doktor?</p>
<p>Všechno je to na internetu. A já vám povím odkud všechno mám, abyste se mohli dát do vlastního studia, pokud byste chtěli. </p>
<p>Stačí vědět kde hledat - vědět co jsou symptomy špatného zdroje. A bohužel pro mnohé - je potřeba někdy umět anglicky, protože angličtina je prostě jazyk internetu i vědy. </p>
<p>Všechny dnešní relevantní studie jsou komukoliv dostupné ke čtení. Pokud se chcete něco dozvědět v nezkrácené podobě, můžete jít co nejblíže zdroji. Dnes sami tvůrci studií mají vlastní stránky nebo YouTube účty. Pořádají semináře pro ostatní doktory
  i veřejnost na akcích, na jejichž záznamy se můžete podívat online. Rádi dělají rozhovory s nadšenci, kteří mají vlastní blogy a YT kanály s vlastními komunitami a roznášejí informace dál, především s doporučením práce vědce - ne přímo "řekněte to
  svým kamarádům v polovičaté podobě bez zdrojů", aby se zachovala původní myšlenka. </p>
<p>Dnes není vůbec nutné, abyste přebírali informace z výtahu z výtahu z výtahu z výtahu. Popularizované zdroje (idnes, blesk, novinky.cz atd.) často dělají už několikátou vrstvu zjednodušování a nakonec se původní rada někdy i kompletně vytratí. Tyhle velké
  firmy se nezajímají o korektnost - pokud můžou článek opsat, výsledek bude stejný. $$Je důležité být co nejblíže původnímu autorovi$$ a ne číst v 'Aha!' stotisícátý článek, jak zhubnout. Informace už nebudou ani v nejmenším jako ty původní. </p>
<p>Jsou tu i lidé, kteří se tomu věnují profesionálně a čtou je místo vás. Pak své poznatky sdílejí s velkou komunitou nadšenců jako jsem i já a pokud se dopustí chyby - jak už to na internetu bývá - vzbudí to obrovský nátlak ze strany komunity. Jsou to
  právě 'youtoubeři' nebo doktoři píšící knihy ze svých studií, kteří jsou často nejdůvěryhodnější, protože narozdíl od televize nebo časopisů, komentáře a názory jsou vždy v blízkosti pro kohokoliv, kdo má dobrý protiargument. Tito lidé nemohou často
  chybovat, nátlak je pak drastický. </p>
<p>Problémem ale je, že se dobré zdroje špatně hledají. Je to někdy skoro až <i>kultovní</i> záležitost uzavřených komunit. Nikdo takovým lidem mimo jejich komunitu nevěří, nebo se na veřejnosti nesvěřují, protože je někdo neinformovaný začne urážet a snižovat
  jejich dobře formulovaná a na vědě založená fakta svými názory.</p>
<p>Například: Není nic špatného na nesnídání. Lidé až do moderní doby neměli lednice, proč bychom měli mít dobrou reakci na něco, na co neni tělo evolučně připraveno. A pak vám někdo řekne 'Vždyť se všude říká, jak máte jíst snídani! Je to nejdůležitější
  jídlo dne!!'. Kde tohle slyšeli? V reklamě na Nutellu...</p>
<p>Kdykoli někdo řekne 'neseď tak blízko u monitoru', už vyťukávám do Googlu klíčová slova, u kterých vím, že mě donesou k poctivým a na vědě založeným výsledkům. No a pak musím ignorovat prvních alespoň 5 výsledků - populární stránky pro veřejnost, u kterých
  vím, že jen kopírují lživé informace a jako ostatní nepodložené stránky jen roznášejí špatné informace dál.</p>
<p><strong>Největším nepřítelem vědomostí není ignorance, ale <i>iluze</i> vědomostí.</strong> </p>
<p>Je pak na každém z nás si dávat pozor na korektnost zdrojů, vyjádřit vědeckou dávku skepse, prověřit si věrohodnost a <i>neroznášet zjednodušené domněnky ostatním jako fakta</i>. <strong>Hlavně</strong> pokud jde o zdraví. </p>
<p>Už několik let se zajímám aktivně o své zdraví a i zdraví svého okolí. </p>
<h2>Takže odkud to tedy všechno je?</h2>
<p>Vždy je proces podobný. Vše začíná problémem někoho v okolí. Samozřejmě jsem slyšel celý život jeho řešení od rodiny a z televize, ale úmyslně o všem pochybuji (vždy s respektem) a pro jistotu si řešení na problém zkusím najít.</p>
<p>Pokud mám štěstí, někdo z mých oblíbených kanálů už má na téma video a já se můžu podívat na rozhovor s vědcem jehož studie si můžu prostudovat pak i sám nebo opatrně vytvořené informativní video se spoustou zdrojů v popisku videa.</p>
<p>Ne vždy je problém tak důležitý, aby o něm bylo udělané celé video. V tom případě musím sám najít informace na mých oblíbených stránkách doktorů, kteří se tomu aktivně věnují. Často se dá najít třeba rozhovor s expertem aspoň v textové formě nebo mají
  vlastní článek jako kompilaci studií a alespoň pár jmen u tvrzení, odtud pak pokračuji dál. </p>
<p>Najdou se případy, kdy moje nejoblíbenější zdroje nemají na téma co říct a tak musím hledat sám. Používám často klíčová slova, která by se mohla vyskytovat ve znalých komunitách, a doufám, že narazím na nějaké výsledky. Poslední dobou i využívám pomoc
  komunit jako je Reddit a zeptám se lidí, jestli už si téma nevyhledávali.</p>
<p>Celkově je to ale často dlouhý proces opakovaného hledání různých názorů a hledání <i>jak</i> něco funguje. Pokud vám někdo nevysvětlí jednoduše principy za tématem, tématu jednoduše dost nerozumí.</p>
<h2>Online zdroje</h2>
<p>Nejpříjemnější je mi poslouchat při jiné práci interview na tomto kanále: `High Intensity Health`{TODO}. Když člověk jde podle nejsledovanějších videí, najde všechno podstatné.</p>
<p>Čas od času se objeví i na kanále `What I've Learned`{TODO} kratší videoesej na všerůzná témata zdraví. Pokud nemáte moc času a chcete něco informačně hustšího než hodinové rozhovory, rozhodně kanál doporučuji.</p>
<h2>Respektované osoby </h2>
<p>Dále bych rád zmínil několik osob, které dělají tu opravdovou práci a vycházejí s excelentními studiemi a poznatky:</p>
<ul>
  <li><span class="person">Jason Fung</span><span class="desc">Kanadský doktor v oblasti nefrologie (játra), který už nechtěl lidem předepisovat špatné léčby diabetikům a začal dělat vlastní výzkum a otevřel si osobní kliniku. Zabývá se půsty pro snížení váhy, pro <i>úplnou léčbu</i> diabetu 2. typu a pro zpomalování stárnutí.</span></li>
  <li><span class="person">Dave Feldman</span><span class="desc">Bývalý systémový inženýr, který se začal zabývat systémem cholesterolu v těle. Byl absolutně fascinován perfektností tohoto systému a opakovaně dokazuje jak jsou dnešní obecná dietární doporučení mimo opakovanými krevními testy na sobě (100+ ročně) i dělal vlastní studie. Má výborná vysvětlení a metafory pro pochopení systému cholesterolu a jeho pravé funkci v těle (není zdaleka jen 'špatný a dobrý').</span></li>
  <li><span class="person">Nina Teicholzová</span><span class="desc">Vědecká žurnalistka, která pracovala přes 10 let na knize `The Big Fat Surprise - Tuk: Velké Překvapení`{TODO}. Putovala po Evropě a Americe, aby se pomocí rozhovorů a pozorného čtení studií dozvěděla, proč se dodnes obezita jen zvyšovala i přes 80 let snažení vědců veřejnost uzdravit (překvapení: nesnažili se). Doporučené čtení, pokud nemůžete uvěřit, že nás dnešní rady o tucích paradoxně zabíjí!</span></li>
  <li><span class="person">Aseem Malhotra</span><span class="desc">Britský kardiolog, který vystoupil před Evropský parlament, aby přesvědčil vládu k přehodnocení dnešních doporučení a potravinových zákonů a aby pochopili závažnost dnešní zvrácené situace v potravinářském průmyslu. Už jen obaly a názvy potravin nás nutí k tomu, abychom přemýšleli špatně o jídle - i podvědomě jste popostrkáváni k tomu, abyste jedli nezdravě. Aseem advokuje hlavně <i>změnu prostředí</i>, aby se dosáhlo obecného zlepšení ve zdraví i pro ty, kteří nemohou nebo nechtějí jít proti proudu (což je drtivá většina lidí). </span></li>
  <li><span class="person">James DiNicolantonio</span><span class="desc">Americký kardiovaskulární vědec, který se prosadil svou knihou `The Salt Fix - Pravda o Soli`{TODO}, kde prosazuje důležitost soli pro člověka a jak právě <i>omezování</i> soli je to, co způsobuje problémy s krevním tlakem, migrény, špatné prokrvování, ledvinové problémy a přispívá k obezitě a diabetu 2. typu. Pokud máte ledvinové problémy, je tato kniha povinné čtení. </span></li>
  <li><span class="person">John a Michael Mew</span><span class="desc">Revoluční zastánci přirozené orthodontiky - opravování špatně vyvinutého chrupu a úst ne pomocí rovnátek, ale pomocí cvičení svalového ústrojí v ústech. Následují principy `Wolffova zákona`{TODO}: <i>křivé zuby nejsou nevyhnutelvě způsobeny genetikou, ale špatným růstem svalů kvůli dnešním změnám v jídelníčku a v životním stylu. Tato atrofie časem způsobí špatný růst kostí, který se ale cvičením těchto svalů dá kompletně a na trvalo opravit.</i></span></li>
</ul>
<!-- TODO: For each person, make a dynamically made div with-->
<!-- all the relevant links / important vids, social media etc.-->
<p>Další lidé budou možná přibývat, pokud mě další napadnou. </p>